h1{
    text-align: corner;
    color:red;
    background-color:yellow;
}
p{
    color:blue;


}
#first{
    color:White;
    background-color: black;
}
#secnd{
    color:black;
    background-color:white;
}


