h1{
    color:maroon;
    background-color:black;
}
p{
    color:maroon;
}
#one{
    color:maroon;
    background-color:black;
    font-size:x-large;
    font-weight: 100;
    }
#two{
    color:maroon;
    background-color:black;
    font-size:x-large;
    font-weight: 100;
}